@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #388e3c #f5f5f5;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  background-color: #e0e0e0; /* Light grey */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5; /* Slightly off-white */
}

::-webkit-scrollbar-thumb {
  background-color: #388e3c; /* Dark green */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e7d32; /* Slightly darker green */
}

/* Styles */
.logoStyle {
  font-weight: 400;
  font-size: 40px;
  font-family: Pacifico, cursive;
  line-height: 36px;
  color: #1bbf00;
}

.searchInput::placeholder {
  margin-left: 240px;
  color: #1bbf00;
}

.optionName {
  font-family: Pacifico, cursive;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(110, 110, 110, 1);
}

.productContainer {
  width: max-content !important;
}

.nav-items {
  font-family: Inter, cursive;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: rgba(0, 0, 0, 1);
}

.logout-btn {
  font-family: Inter, cursive;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  background: #000;
  color: white;
  padding: 15px 55px;
  border-radius: 30px;
}

.imageContainer {
  width: 250px;
  height: 250px;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0;
  width: 100%;
  position: relative;
}

.inputGroup input,
textarea {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #bdbdbd;
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  transform: translateY(-50%);
}

.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown) ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:not(:placeholder-shown) ~ label {
  margin: 0;
  margin-left: 1.3em;
  top: 0;
  background-color: white;
  border-radius: 100%;
}

.inputGroup input:focus,
textarea {
  border-color: rgb(150, 150, 200);
}

.productCard:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.35);
}

.productContainer:hover {
  transition: 0.5s;
  transform: translateY(-10px);
  transition-timing-function: ease-in-out;
}

/* Media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: start !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .logout-btn {
    font-size: 18px;
    padding: 10px 35px;
  }

  .nav-items {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .logoStyle {
    font-size: 30px;
  }
}

/* Keyframes */
@keyframes slideInFromRightTop {
  0% {
    transform: translate(100%, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideOutToRightTop {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(100%, -100%);
    opacity: 0;
  }
}

/* Animation */
.slide-in {
  animation: slideInFromRightTop 0.5s ease-out forwards;
}

.slide-out {
  animation: slideOutToRightTop 0.5s ease-out backwards;
}
