@tailwind base;
@tailwind components;
@tailwind utilities;

.logoStyle {
  font-weight: 400;
  font-size: 40px;
  font-family: Pacifico, cursive;
  line-height: 36px;
  color: #1bbf00;
}

.searchInput::placeholder {
  margin-left: 240px;
  color: #1bbf00;
}
